<a href="https://colab.research.google.com/github/gitmystuff/INFO4080/blob/main/Week_11-Discussion_Section/Week_11_In_Class_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 11: In-Class Activity

Your Name

## Getting Started

* Colab - get notebook from gitmystuff DTSC4080 repository
* Save a Copy in Drive
* Remove Copy of
* Edit your name
* Attendance
* Clean up Colab Notebooks folder
* Submit shared link

## Public Data

* https://data.census.gov/
* https://healthdata.gov/
* Edgar: https://www.sec.gov/edgar
* Bureau of Justice: https://bjs.ojp.gov/
* IRS: https://www.irs.gov/statistics
* Bureau of Economic Analysis: https://www.bea.gov/
* Federal Reserve: https://www.federalreserve.gov/data.htm
* DOE Data and Research: https://www2.ed.gov/rschstat/landing.jhtml?src=ft
* Bureau of Labor Statistics: https://www.bls.gov/
* US Patent and Trademark Office: https://www.uspto.gov/
* National Centers for Environmental Information: https://www.ncei.noaa.gov/
* World Bank: https://data.worldbank.org/
* CIA World Factbook: https://www.cia.gov/the-world-factbook/
* United Nations: https://data.un.org/
* UNICEF: https://data.unicef.org/
* Statistics Canada: https://www.statcan.gc.ca/
* Eurostat: https://ec.europa.eu/eurostat
* Organization for Economic Cooperation and Development: https://data.oecd.org/
* UK National Health Service NHS Digital: https://digital.nhs.uk/
* Google Finance: https://www.google.com/finance/
* Google Trends: https://trends.google.com/trends/
* Google Public Data Explorer: https://www.google.com/publicdata/directory
* Amazon Web Services Public Data: https://registry.opendata.aws/
* Data.gov: https://data.gov/
* Google Ngram Viewer: https://books.google.com/ngrams/
* The Corpus of Contemporary American English: https://www.english-corpora.org/coca/
* University of California, Irvine, Center for Machine Learning: https://archive.ics.uci.edu/
* Pew Research Center: https://www.pewresearch.org/
* https://www.linkedin.com/learning/learning-public-data-sets-2/bureau-of-labor-statistics?resume=false&u=74650474

## BigQuery

* https://console.cloud.google.com/marketplace/product/google/bigquery.googleapis.com?_ga=2.211298837.1868925152.1707340152-1299486709.1704991752&project=studynotes-prod&returnUrl=%2Fbigquery%3F_ga%3D2.211298837.1868925152.1707340152-1299486709.1704991752%26project%3Dstudynotes-prod

<pre>
SELECT
  *
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
LIMIT 100
</pre>

<pre>
SELECT
  *
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
WHERE
  state = 'TX'
LIMIT 100
</pre>

<pre>
SELECT
  MIN(year), MAX(year)
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
</pre>

<pre>
SELECT
  name, COUNT(name) as cnt
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
GROUP BY name
ORDER BY cnt DESC
LIMIT 1
</pre>

<pre>
SELECT
  *
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
WHERE
  state = 'TX'
AND
  year = 2020
LIMIT 100
</pre>

Public datasets

* Add
* Search for public datasets
* Search of World Bank

World Bank
* https://databank.worldbank.org/metadataglossary/jobs/series/SI.POV.GINI

<pre>

SELECT acs.geo_id, acs.total_pop, fips.state_name
FROM
`bigquery-public-data.census_bureau_acs.state_2010_1yr` as acs,
`bigquery-public-data.census_utility.fips_codes_states` as fips
WHERE acs.geo_id = fips.state_fips_code
AND fips.state_name = 'Texas'

</pre>

<pre>
SELECT *
FROM `bigquery-public-data.census_bureau_acs.state_2010_1yr` as acs
INNER JOIN  `bigquery-public-data.census_utility.fips_codes_states` as fips
ON acs.geo_id = fips.state_fips_code
</pre>

## APA Research Paper

### Abstract Section

* ABSTRACT: The abstract needs to provide a brief but comprehensive summary of the contents of your paper.  It provides an overview of the paper and helps readers decide whether to read the full text. Limit your abstract to 250 words.
* https://apastyle.apa.org/instructional-aids/abstract-keywords-guide.pdf

### Introduction Section

* A good introduction will summarize, integrate, and critically evaluate the empirical knowledge in the relevant area(s) in a way that sets the stage for your study and why you conducted it. The introduction starts out broad (but not too broad!) and gets more focused toward the end.

Example Prompt:

My research question is To what extent and through what mechanisms does religion influence the formation and expression of ultra-nationalist ideologies and movements within Western civilization? I need to write an introduction to my research paper. Can you write an opening sentence that clearly conveys the relevance of the following text.

[text]

### Method Section

From Gemini

**Prompt**: I am writing a research paper and want to know what elements go in the method section

**Response**:

**Method**

The method section of your research paper is crucial, as it details how you conducted your research and allows readers to assess its validity and replicability. Here are the key elements you should include:

**1. Research Design:**

* https://library.cityu.edu/researchguides/researchmethods/litreview
* Briefly explain the type of research design you employed (e.g., experiment, survey, case study).
* Justify your choice of design and how it aligns with your research question and objectives.

**2. Participants or Subjects:**

* Describe the characteristics of your participants or subjects, including demographics, selection criteria, and sample size.
* Explain how you recruited participants and ensure ethical considerations were addressed (e.g., informed consent).

**3. Materials and Equipment:**

* List all the materials and equipment used in your research, including specific details like brand names, models, and software versions.
* Describe any specific procedures or preparations undertaken for the materials or equipment.

**4. Procedure:**

* Provide a step-by-step explanation of how you conducted your research, ensuring clarity and conciseness.
* Include details on data collection methods (e.g., surveys, interviews, observations) and any manipulations or interventions involved.
*  If applicable, describe the order of events and any control measures implemented.

**5. Data Analysis:**

* Explain how you analyzed your data, including the specific statistical tests or qualitative analysis methods used.
* Briefly justify your choice of analysis methods and their appropriateness for your research question and data type.

**Additional Considerations:**

* **Ethical Approval:** If your research involved human subjects or animals, mention the ethical approval process and the body that granted approval.
* **Data Management:** Briefly describe how you stored and managed your data throughout the research process.
* **Clarity and Conciseness:** Use clear and concise language, avoiding jargon and unnecessary details.
* **Logical Organization:**  Structure the section logically, often using subheadings to present information in a clear and organized manner.

Remember, the specific elements and level of detail required in your methods section may vary depending on your field of study and specific research question. It's always recommended to consult your research style guide or professor for specific formatting and content requirements.

### Results Section

The results section of a research paper is all about presenting the cold, hard facts unearthed by your research. It acts like a bridge between the methodology you used and what you ultimately discovered. Here are the key points to remember:

* **Focus on Findings:** It presents what you found, sticking to data and observations without interpretation or analysis. Think of it as laying out the evidence.
* **Answer the Question:** The findings should directly address the research question(s) you posed at the outset of the paper.
* **Logical Flow:** Organize your findings in a clear and logical sequence, often mirroring the structure of your methodology.
* **Data Presentation:** Use tables, figures, and charts to effectively showcase your findings. Text descriptions should complement these visuals.
* **Neutral Tone:** Avoid any bias or personal opinions in this section. Maintain a strictly objective and factual approach.
* **Context is Key:** Briefly introduce the results section by reminding the reader of the research problem and the purpose of your study.
* **Only Relevant Findings:** Include data directly connected to your research goals. Avoid cluttering the section with unnecessary details.

Remember, the results section sets the stage for the discussion section, where you'll delve deeper into interpreting the meaning of your findings.

The results section of a research paper is one of the most important parts, and it should only include the findings of the study. The results section should include:

* Data: Data presented in tables, charts, graphs, and other figures
* Contextual analysis: A sentence-based explanation of the meaning of the data
* Secondary findings: Secondary outcomes, subgroup analyses, and more
* Connection to research questions: How the data relates to the research questions

The results section should not attempt to interpret or analyze the findings, only state the facts. The data may be placed into the text or on separate pages at the end of the manuscript.

The results (or findings) section is one of the most important parts of a research paper, in which an author reports the findings of their study in connection to their research question(s). The results section should not attempt to interpret or analyze the findings, only state the facts.

The Results section should include the findings of your study and ONLY the findings of your study. The findings include: Data presented in tables, charts, graphs, and other figures (may be placed into the text or on separate pages at the end of the manuscript) A contextual analysis of this data explaining its meaning in sentence form. All data that corresponds to the central research question(s) All secondary findings (secondary outcomes, subgroup analyses, etc.)

### Discussion Section

* Prompt: Hi, I am writing a APA 7 research paper and want to know the key elements of the discussion section. Please also provide and outline of the APA 7 discussion section.

#### Key Elements of an APA 7 Discussion Section

The discussion section is the heart of your research paper. Here's what you should cover:

* **Interpretation of Findings:** Explain what your results mean in light of your research questions or hypotheses.  Discuss how your findings relate to existing research (mentioned in your literature review).
* **Acknowledge Unexpected Results:**  Address any findings that didn't support your hypotheses.  Discuss possible explanations for these results.
* **Limitations:** Discuss the weaknesses or limitations of your study.  How might these limitations have affected your results?
* **Implications:**  Explain the broader significance of your research.  What are the real-world implications of your findings?
* **Future Directions:**  Propose areas for future research based on your findings.  What questions remain unanswered?

####  Outline of an APA 7 Discussion Section

1. **Brief Re-state the Research Question/Hypothesis:**  Remind the reader of your research goals.
2. **Summarize Key Findings:** Briefly mention the main results of your study.
3. **Interpret Findings in Detail:**  Dive deeper into your results, explaining their meaning and how they relate to your research questions/hypotheses and the existing literature.
    * Discuss any unexpected findings and offer possible explanations.
4. **Limitations:** Acknowledge the weaknesses of your study and how they might have affected your results.
5. **Implications:**  Explain the broader significance of your research.  What are the real-world implications of your findings?
6. **Future Directions:**  Propose new research questions or areas for future investigation based on your findings.
7. **Conclusion:**   Briefly summarize the main points of your discussion and reiterate the significance of your research.

**Tips:**

* Use the present tense to discuss your findings.
*  Cite relevant sources throughout the discussion to support your interpretations.
* Maintain a formal and objective writing style.

## PowerPoint Presentation

* https://docs.google.com/document/d/1onb_1KS8RCDc2McbCDp1IewIXg47uwi1URTgDZFcLQY/edit?usp=sharing

## SQL

## LM Studio

Sources

* OpenAI with Python API Bootcamp by Jose Portilla
* https://www.youtube.com/watch?v=yBI1nPep72Q
* https://github.com/danielsobrado/llm_notebooks
* https://llm.extractum.io/

### Terms

* Model Quantization is a technique used to reduce the size of large neural networks, including large language models (LLMs) by modifying the precision of their weights. LLM Quantization is enabled thanks to empiric results showing that while some operations related to neural network training and inference must leverage high precision, in some cases it's possible to use significantly lower precision (float16 for example) reducing the overall size of the model, allowing it to be run using less powerful hardware with an acceptable reduction of its capabilities and accuracy.
* Retrieval-augmented generation (RAG) is a technique for enhancing the accuracy and reliability of generative AI models with facts fetched from external sources.

Sources

* https://blogs.nvidia.com/blog/what-is-retrieval-augmented-generation/
* https://deci.ai/quantization-and-quantization-aware-training/
* https://www.tensorops.ai/post/what-are-quantized-llms

### SQL

* SQL is meant to work with SQL compatible applications
* There are many other options to work with tabular data like Excel or CSV
* Pandas allows us to work with tabular data sources such as SQL

In [ ]:
# convert csv from pandas to sql
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/gitmystuff/Datasets/main/Auto.csv')
print(df.shape)
print(df.info())
df.head()

(397, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    397 non-null    object
 4   weight        397 non-null    int64
 5   acceleration  397 non-null    float64
 6   year          397 non-null    int64
 7   origin        397 non-null    int64
 8   name          397 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.0+ KB
None

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [ ]:
# pandas groupby example
df['origin'] = df['origin'].astype('object')
df.groupby('origin')['mpg'].mean()

origin
1    20.071774
2    27.891429
3    30.450633
Name: mpg, dtype: float64

In [ ]:
# pandas to sql
# what is the average mpg for the origin of cars
# --> SELECT AVG(mpg) FROM table GROUP BY ...
from sqlalchemy import create_engine, text

db = create_engine('sqlite:///:memory', echo=True)

data = df.to_sql(name='MPG', con=db)

2024-04-04 03:55:34,549 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-04 03:55:34,589 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("MPG")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("MPG")

2024-04-04 03:55:34,610 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-04 03:55:34,636 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("MPG")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("MPG")

2024-04-04 03:55:34,646 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-04 03:55:34,674 INFO sqlalchemy.engine.Engine
CREATE TABLE "MPG" (
	"index" BIGINT,
	mpg FLOAT,
	cylinders BIGINT,
	displacement FLOAT,
	horsepower TEXT,
	weight BIGINT,
	acceleration FLOAT,
	year BIGINT,
	origin BIGINT,
	name TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "MPG" (
	"index" BIGINT,
	mpg FLOAT,
	cylinders BIGINT,
	displacement FLOAT,
	horsepower TEXT,
	weight BIGINT,
	acceleration FLOAT,
	year BIGINT,
	origin BIGINT,
	name TEXT
)

2024-04-04 03:55:34,687 INFO sqlalchemy.engine.Engine [no key 0.01625s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.01625s] ()

2024-04-04 03:55:34,739 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_MPG_index" ON "MPG" ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX "ix_MPG_index" ON "MPG" ("index")

2024-04-04 03:55:34,750 INFO sqlalchemy.engine.Engine [no key 0.01096s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.01096s] ()

2024-04-04 03:55:34,879 INFO sqlalchemy.engine.Engine INSERT INTO "MPG" ("index", mpg, cylinders, displacement, horsepower, weight, acceleration, year, origin, name) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "MPG" ("index", mpg, cylinders, displacement, horsepower, weight, acceleration, year, origin, name) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2024-04-04 03:55:34,887 INFO sqlalchemy.engine.Engine [generated in 0.02793s] [(0, 18.0, 8, 307.0, '130', 3504, 12.0, 70, 1, 'chevrolet chevelle malibu'), (1, 15.0, 8, 350.0, '165', 3693, 11.5, 70, 1, 'buick skylark 320'), (2, 18.0, 8, 318.0, '150', 3436, 11.0, 70, 1, 'plymouth satellite'), (3, 16.0, 8, 304.0, '150', 3433, 12.0, 70, 1, 'amc rebel sst'), (4, 17.0, 8, 302.0, '140', 3449, 10.5, 70, 1, 'ford torino'), (5, 15.0, 8, 429.0, '198', 4341, 10.0, 70, 1, 'ford galaxie 500'), (6, 14.0, 8, 454.0, '220', 4354, 9.0, 70, 1, 'chevrolet impala'), (7, 14.0, 8, 440.0, '215', 4312, 8.5, 70, 1, 'plymouth fury iii')  ... displaying 10 of 397 total bound parameter sets ...  (395, 28.0, 4, 120.0, '79', 2625, 18.6, 82, 1, 'ford ranger'), (396, 31.0, 4, 119.0, '82', 2720, 19.4, 82, 1, 'chevy s-10')]

INFO:sqlalchemy.engine.Engine:[generated in 0.02793s] [(0, 18.0, 8, 307.0, '130', 3504, 12.0, 70, 1, 'chevrolet chevelle malibu'), (1, 15.0, 8, 350.0, '165', 3693, 11.5, 70, 1, 'buick skylark 320'), (2, 18.0, 8, 318.0, '150', 3436, 11.0, 70, 1, 'plymouth satellite'), (3, 16.0, 8, 304.0, '150', 3433, 12.0, 70, 1, 'amc rebel sst'), (4, 17.0, 8, 302.0, '140', 3449, 10.5, 70, 1, 'ford torino'), (5, 15.0, 8, 429.0, '198', 4341, 10.0, 70, 1, 'ford galaxie 500'), (6, 14.0, 8, 454.0, '220', 4354, 9.0, 70, 1, 'chevrolet impala'), (7, 14.0, 8, 440.0, '215', 4312, 8.5, 70, 1, 'plymouth fury iii')  ... displaying 10 of 397 total bound parameter sets ...  (395, 28.0, 4, 120.0, '79', 2625, 18.6, 82, 1, 'ford ranger'), (396, 31.0, 4, 119.0, '82', 2720, 19.4, 82, 1, 'chevy s-10')]

2024-04-04 03:55:34,911 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-04-04 03:55:34,924 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-04 03:55:34,936 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
# connect and query
with db.connect() as conn:
  # makes connection, allows queries, and closes
  results = conn.execute(text('SELECT * FROM MPG'))

results.all()

2024-04-04 03:55:38,862 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-04 03:55:38,873 INFO sqlalchemy.engine.Engine SELECT * FROM MPG

INFO:sqlalchemy.engine.Engine:SELECT * FROM MPG

2024-04-04 03:55:38,878 INFO sqlalchemy.engine.Engine [generated in 0.01589s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01589s] ()

2024-04-04 03:55:38,900 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

[(0, 18.0, 8, 307.0, '130', 3504, 12.0, 70, 1, 'chevrolet chevelle malibu'),
 (1, 15.0, 8, 350.0, '165', 3693, 11.5, 70, 1, 'buick skylark 320'),
 (2, 18.0, 8, 318.0, '150', 3436, 11.0, 70, 1, 'plymouth satellite'),
 (3, 16.0, 8, 304.0, '150', 3433, 12.0, 70, 1, 'amc rebel sst'),
 (4, 17.0, 8, 302.0, '140', 3449, 10.5, 70, 1, 'ford torino'),
 (5, 15.0, 8, 429.0, '198', 4341, 10.0, 70, 1, 'ford galaxie 500'),
 (6, 14.0, 8, 454.0, '220', 4354, 9.0, 70, 1, 'chevrolet impala'),
 (7, 14.0, 8, 440.0, '215', 4312, 8.5, 70, 1, 'plymouth fury iii'),
 (8, 14.0, 8, 455.0, '225', 4425, 10.0, 70, 1, 'pontiac catalina'),
 (9, 15.0, 8, 390.0, '190', 3850, 8.5, 70, 1, 'amc ambassador dpl'),
 (10, 15.0, 8, 383.0, '170', 3563, 10.0, 70, 1, 'dodge challenger se'),
 (11, 14.0, 8, 340.0, '160', 3609, 8.0, 70, 1, "plymouth 'cuda 340"),
 (12, 15.0, 8, 400.0, '150', 3761, 9.5, 70, 1, 'chevrolet monte carlo'),
 (13, 14.0, 8, 455.0, '225', 3086, 10.0, 70, 1, 'buick estate wagon (sw)'),
 (14, 24.0, 4, 113.0, '95', 2372, 15.0, 70, 3, 'toyota corona mark ii'),
 (15, 22.0, 6, 198.0, '95', 2833, 15.5, 70, 1, 'plymouth duster'),
 (16, 18.0, 6, 199.0, '97', 2774, 15.5, 70, 1, 'amc hornet'),
 (17, 21.0, 6, 200.0, '85', 2587, 16.0, 70, 1, 'ford maverick'),
 (18, 27.0, 4, 97.0, '88', 2130, 14.5, 70, 3, 'datsun pl510'),
 (19, 26.0, 4, 97.0, '46', 1835, 20.5, 70, 2, 'volkswagen 1131 deluxe sedan'),
 (20, 25.0, 4, 110.0, '87', 2672, 17.5, 70, 2, 'peugeot 504'),
 (21, 24.0, 4, 107.0, '90', 2430, 14.5, 70, 2, 'audi 100 ls'),
 (22, 25.0, 4, 104.0, '95', 2375, 17.5, 70, 2, 'saab 99e'),
 (23, 26.0, 4, 121.0, '113', 2234, 12.5, 70, 2, 'bmw 2002'),
 (24, 21.0, 6, 199.0, '90', 2648, 15.0, 70, 1, 'amc gremlin'),
 (25, 10.0, 8, 360.0, '215', 4615, 14.0, 70, 1, 'ford f250'),
 (26, 10.0, 8, 307.0, '200', 4376, 15.0, 70, 1, 'chevy c20'),
 (27, 11.0, 8, 318.0, '210', 4382, 13.5, 70, 1, 'dodge d200'),
 (28, 9.0, 8, 304.0, '193', 4732, 18.5, 70, 1, 'hi 1200d'),
 (29, 27.0, 4, 97.0, '88', 2130, 14.5, 71, 3, 'datsun pl510'),
 (30, 28.0, 4, 140.0, '90', 2264, 15.5, 71, 1, 'chevrolet vega 2300'),
 (31, 25.0, 4, 113.0, '95', 2228, 14.0, 71, 3, 'toyota corona'),
 (32, 25.0, 4, 98.0, '?', 2046, 19.0, 71, 1, 'ford pinto'),
 (33, 19.0, 6, 232.0, '100', 2634, 13.0, 71, 1, 'amc gremlin'),
 (34, 16.0, 6, 225.0, '105', 3439, 15.5, 71, 1, 'plymouth satellite custom'),
 (35, 17.0, 6, 250.0, '100', 3329, 15.5, 71, 1, 'chevrolet chevelle malibu'),
 (36, 19.0, 6, 250.0, '88', 3302, 15.5, 71, 1, 'ford torino 500'),
 (37, 18.0, 6, 232.0, '100', 3288, 15.5, 71, 1, 'amc matador'),
 (38, 14.0, 8, 350.0, '165', 4209, 12.0, 71, 1, 'chevrolet impala'),
 (39, 14.0, 8, 400.0, '175', 4464, 11.5, 71, 1, 'pontiac catalina brougham'),
 (40, 14.0, 8, 351.0, '153', 4154, 13.5, 71, 1, 'ford galaxie 500'),
 (41, 14.0, 8, 318.0, '150', 4096, 13.0, 71, 1, 'plymouth fury iii'),
 (42, 12.0, 8, 383.0, '180', 4955, 11.5, 71, 1, 'dodge monaco (sw)'),
 (43, 13.0, 8, 400.0, '170', 4746, 12.0, 71, 1, 'ford country squire (sw)'),
 (44, 13.0, 8, 400.0, '175', 5140, 12.0, 71, 1, 'pontiac safari (sw)'),
 (45, 18.0, 6, 258.0, '110', 2962, 13.5, 71, 1, 'amc hornet sportabout (sw)'),
 (46, 22.0, 4, 140.0, '72', 2408, 19.0, 71, 1, 'chevrolet vega (sw)'),
 (47, 19.0, 6, 250.0, '100', 3282, 15.0, 71, 1, 'pontiac firebird'),
 (48, 18.0, 6, 250.0, '88', 3139, 14.5, 71, 1, 'ford mustang'),
 (49, 23.0, 4, 122.0, '86', 2220, 14.0, 71, 1, 'mercury capri 2000'),
 (50, 28.0, 4, 116.0, '90', 2123, 14.0, 71, 2, 'opel 1900'),
 (51, 30.0, 4, 79.0, '70', 2074, 19.5, 71, 2, 'peugeot 304'),
 (52, 30.0, 4, 88.0, '76', 2065, 14.5, 71, 2, 'fiat 124b'),
 (53, 31.0, 4, 71.0, '65', 1773, 19.0, 71, 3, 'toyota corolla 1200'),
 (54, 35.0, 4, 72.0, '69', 1613, 18.0, 71, 3, 'datsun 1200'),
 (55, 27.0, 4, 97.0, '60', 1834, 19.0, 71, 2, 'volkswagen model 111'),
 (56, 26.0, 4, 91.0, '70', 1955, 20.5, 71, 1, 'plymouth cricket'),
 (57, 24.0, 4, 113.0, '95', 2278, 15.5, 72, 3, 'toyota corona hardtop'),
 (58, 25.0, 4, 97.5, '80', 2126, 17.0, 72, 1, 'dodge colt hardtop'),
 (59, 23.0, 4, 97.0, '54', 2254, 23.5, 72, 2, 'volkswagen type 3'),
 (60, 20.0, 4, 140.0, '90', 2408, 19.5, 72, 1, 'chevrolet vega'),
 (61, 21.0, 4, 122.0, '86', 2226, 16.5, 72, 1, 'ford pinto runabout'),
 (62, 13.0, 8, 350.0, '165', 4274, 12.0, 72, 1, 'chevrolet impala'),
 (63, 14.0, 8, 400.0, '175', 4385, 12.0, 72, 1, 'pontiac catalina'),
 (64, 15.0, 8, 318.0, '150', 4135, 13.5, 72, 1, 'plymouth fury iii'),
 (65, 14.0, 8, 351.0, '153', 4129, 13.0, 72, 1, 'ford galaxie 500'),
 (66, 17.0, 8, 304.0, '150', 3672, 11.5, 72, 1, 'amc ambassador sst'),
 (67, 11.0, 8, 429.0, '208', 4633, 11.0, 72, 1, 'mercury marquis'),
 (68, 13.0, 8, 350.0, '155', 4502, 13.5, 72, 1, 'buick lesabre custom'),
 (69, 12.0, 8, 350.0, '160', 4456, 13.5, 72, 1, 'oldsmobile delta 88 royale'),
 (70, 13.0, 8, 400.0, '190', 4422, 12.5, 72, 1, 'chrysler newport royal'),
 (71, 19.0, 3, 70.0, '97', 2330, 13.5, 72, 3, 'mazda rx2 coupe'),
 (72, 15.0, 8, 304.0, '150', 3892, 12.5, 72, 1, 'amc matador (sw)'),
 (73, 13.0, 8, 307.0, '130', 4098, 14.0, 72, 1, 'chevrolet chevelle concours (sw)'),
 (74, 13.0, 8, 302.0, '140', 4294, 16.0, 72, 1, 'ford gran torino (sw)'),
 (75, 14.0, 8, 318.0, '150', 4077, 14.0, 72, 1, 'plymouth satellite custom (sw)'),
 (76, 18.0, 4, 121.0, '112', 2933, 14.5, 72, 2, 'volvo 145e (sw)'),
 (77, 22.0, 4, 121.0, '76', 2511, 18.0, 72, 2, 'volkswagen 411 (sw)'),
 (78, 21.0, 4, 120.0, '87', 2979, 19.5, 72, 2, 'peugeot 504 (sw)'),
 (79, 26.0, 4, 96.0, '69', 2189, 18.0, 72, 2, 'renault 12 (sw)'),
 (80, 22.0, 4, 122.0, '86', 2395, 16.0, 72, 1, 'ford pinto (sw)'),
 (81, 28.0, 4, 97.0, '92', 2288, 17.0, 72, 3, 'datsun 510 (sw)'),
 (82, 23.0, 4, 120.0, '97', 2506, 14.5, 72, 3, 'toyouta corona mark ii (sw)'),
 (83, 28.0, 4, 98.0, '80', 2164, 15.0, 72, 1, 'dodge colt (sw)'),
 (84, 27.0, 4, 97.0, '88', 2100, 16.5, 72, 3, 'toyota corolla 1600 (sw)'),
 (85, 13.0, 8, 350.0, '175', 4100, 13.0, 73, 1, 'buick century 350'),
 (86, 14.0, 8, 304.0, '150', 3672, 11.5, 73, 1, 'amc matador'),
 (87, 13.0, 8, 350.0, '145', 3988, 13.0, 73, 1, 'chevrolet malibu'),
 (88, 14.0, 8, 302.0, '137', 4042, 14.5, 73, 1, 'ford gran torino'),
 (89, 15.0, 8, 318.0, '150', 3777, 12.5, 73, 1, 'dodge coronet custom'),
 (90, 12.0, 8, 429.0, '198', 4952, 11.5, 73, 1, 'mercury marquis brougham'),
 (91, 13.0, 8, 400.0, '150', 4464, 12.0, 73, 1, 'chevrolet caprice classic'),
 (92, 13.0, 8, 351.0, '158', 4363, 13.0, 73, 1, 'ford ltd'),
 (93, 14.0, 8, 318.0, '150', 4237, 14.5, 73, 1, 'plymouth fury gran sedan'),
 (94, 13.0, 8, 440.0, '215', 4735, 11.0, 73, 1, 'chrysler new yorker brougham'),
 (95, 12.0, 8, 455.0, '225', 4951, 11.0, 73, 1, 'buick electra 225 custom'),
 (96, 13.0, 8, 360.0, '175', 3821, 11.0, 73, 1, 'amc ambassador brougham'),
 (97, 18.0, 6, 225.0, '105', 3121, 16.5, 73, 1, 'plymouth valiant'),
 (98, 16.0, 6, 250.0, '100', 3278, 18.0, 73, 1, 'chevrolet nova custom'),
 (99, 18.0, 6, 232.0, '100', 2945, 16.0, 73, 1, 'amc hornet'),
 (100, 18.0, 6, 250.0, '88', 3021, 16.5, 73, 1, 'ford maverick'),
 (101, 23.0, 6, 198.0, '95', 2904, 16.0, 73, 1, 'plymouth duster'),
 (102, 26.0, 4, 97.0, '46', 1950, 21.0, 73, 2, 'volkswagen super beetle'),
 (103, 11.0, 8, 400.0, '150', 4997, 14.0, 73, 1, 'chevrolet impala'),
 (104, 12.0, 8, 400.0, '167', 4906, 12.5, 73, 1, 'ford country'),
 (105, 13.0, 8, 360.0, '170', 4654, 13.0, 73, 1, 'plymouth custom suburb'),
 (106, 12.0, 8, 350.0, '180', 4499, 12.5, 73, 1, 'oldsmobile vista cruiser'),
 (107, 18.0, 6, 232.0, '100', 2789, 15.0, 73, 1, 'amc gremlin'),
 (108, 20.0, 4, 97.0, '88', 2279, 19.0, 73, 3, 'toyota carina'),
 (109, 21.0, 4, 140.0, '72', 2401, 19.5, 73, 1, 'chevrolet vega'),
 (110, 22.0, 4, 108.0, '94', 2379, 16.5, 73, 3, 'datsun 610'),
 (111, 18.0, 3, 70.0, '90', 2124, 13.5, 73, 3, 'maxda rx3'),
 (112, 19.0, 4, 122.0, '85', 2310, 18.5, 73, 1, 'ford pinto'),
 (113, 21.0, 6, 155.0, '107', 2472, 14.0, 73, 1, 'mercury capri v6'),
 (114, 26.0, 4, 98.0, '90', 2265, 15.5, 73, 2, 'fiat 124 sport coupe'),
 (115, 15.0, 8, 350.0, '145', 4082, 13.0, 73, 1, 'chevrolet monte carlo s'),
 (116, 16.0, 8, 400.0, '230', 4278, 9.5, 73, 1, 'pontiac grand prix'),
 (117, 29.0, 4, 68.0, '49', 1867, 19.5, 73, 2, 'fiat 128'),
 (118, 24.0, 4, 116.0, '75', 2158, 15.5, 73, 2, 'opel manta'),
 (119, 20.0, 4, 114.0, '91', 2582, 14.0, 73, 2, 'audi 100ls'),
 (120, 19.0, 4, 121.0, '112', 2868, 15.5, 73, 2, 'volvo 144ea'),
 (121, 15.0, 8, 318.0, '150', 3399, 11.0, 73, 1, 'dodge dart custom'),
 (122, 24.0, 4, 121.0, '110', 2660, 14.0, 73, 2, 'saab 99le'),
 (123, 20.0, 6, 156.0, '122', 2807, 13.5, 73, 3, 'toyota mark ii'),
 (124, 11.0, 8, 350.0, '180', 3664, 11.0, 73, 1, 'oldsmobile omega'),
 (125, 20.0, 6, 198.0, '95', 3102, 16.5, 74, 1, 'plymouth duster'),
 (126, 21.0, 6, 200.0, '?', 2875, 17.0, 74, 1, 'ford maverick'),
 (127, 19.0, 6, 232.0, '100', 2901, 16.0, 74, 1, 'amc hornet'),
 (128, 15.0, 6, 250.0, '100', 3336, 17.0, 74, 1, 'chevrolet nova'),
 (129, 31.0, 4, 79.0, '67', 1950, 19.0, 74, 3, 'datsun b210'),
 (130, 26.0, 4, 122.0, '80', 2451, 16.5, 74, 1, 'ford pinto'),
 (131, 32.0, 4, 71.0, '65', 1836, 21.0, 74, 3, 'toyota corolla 1200'),
 (132, 25.0, 4, 140.0, '75', 2542, 17.0, 74, 1, 'chevrolet vega'),
 (133, 16.0, 6, 250.0, '100', 3781, 17.0, 74, 1, 'chevrolet chevelle malibu classic'),
 (134, 16.0, 6, 258.0, '110', 3632, 18.0, 74, 1, 'amc matador'),
 (135, 18.0, 6, 225.0, '105', 3613, 16.5, 74, 1, 'plymouth satellite sebring'),
 (136, 16.0, 8, 302.0, '140', 4141, 14.0, 74, 1, 'ford gran torino'),
 (137, 13.0, 8, 350.0, '150', 4699, 14.5, 74, 1, 'buick century luxus (sw)'),
 (138, 14.0, 8, 318.0, '150', 4457, 13.5, 74, 1, 'dodge coronet custom (sw)'),
 (139, 14.0, 8, 302.0, '140', 4638, 16.0, 74, 1, 'ford gran torino (sw)'),
 (140, 14.0, 8, 304.0, '150', 4257, 15.5, 74, 1, 'amc matador (sw)'),
 (141, 29.0, 4, 98.0, '83', 2219, 16.5, 74, 2, 'audi fox'),
 (142, 26.0, 4, 79.0, '67', 1963, 15.5, 74, 2, 'volkswagen dasher'),
 (143, 26.0, 4, 97.0, '78', 2300, 14.5, 74, 2, 'opel manta'),
 (144, 31.0, 4, 76.0, '52', 1649, 16.5, 74, 3, 'toyota corona'),
 (145, 32.0, 4, 83.0, '61', 2003, 19.0, 74, 3, 'datsun 710'),
 (146, 28.0, 4, 90.0, '75', 2125, 14.5, 74, 1, 'dodge colt'),
 (147, 24.0, 4, 90.0, '75', 2108, 15.5, 74, 2, 'fiat 128'),
 (148, 26.0, 4, 116.0, '75', 2246, 14.0, 74, 2, 'fiat 124 tc'),
 (149, 24.0, 4, 120.0, '97', 2489, 15.0, 74, 3, 'honda civic'),
 (150, 26.0, 4, 108.0, '93', 2391, 15.5, 74, 3, 'subaru'),
 (151, 31.0, 4, 79.0, '67', 2000, 16.0, 74, 2, 'fiat x1.9'),
 (152, 19.0, 6, 225.0, '95', 3264, 16.0, 75, 1, 'plymouth valiant custom'),
 (153, 18.0, 6, 250.0, '105', 3459, 16.0, 75, 1, 'chevrolet nova'),
 (154, 15.0, 6, 250.0, '72', 3432, 21.0, 75, 1, 'mercury monarch'),
 (155, 15.0, 6, 250.0, '72', 3158, 19.5, 75, 1, 'ford maverick'),
 (156, 16.0, 8, 400.0, '170', 4668, 11.5, 75, 1, 'pontiac catalina'),
 (157, 15.0, 8, 350.0, '145', 4440, 14.0, 75, 1, 'chevrolet bel air'),
 (158, 16.0, 8, 318.0, '150', 4498, 14.5, 75, 1, 'plymouth grand fury'),
 (159, 14.0, 8, 351.0, '148', 4657, 13.5, 75, 1, 'ford ltd'),
 (160, 17.0, 6, 231.0, '110', 3907, 21.0, 75, 1, 'buick century'),
 (161, 16.0, 6, 250.0, '105', 3897, 18.5, 75, 1, 'chevroelt chevelle malibu'),
 (162, 15.0, 6, 258.0, '110', 3730, 19.0, 75, 1, 'amc matador'),
 (163, 18.0, 6, 225.0, '95', 3785, 19.0, 75, 1, 'plymouth fury'),
 (164, 21.0, 6, 231.0, '110', 3039, 15.0, 75, 1, 'buick skyhawk'),
 (165, 20.0, 8, 262.0, '110', 3221, 13.5, 75, 1, 'chevrolet monza 2+2'),
 (166, 13.0, 8, 302.0, '129', 3169, 12.0, 75, 1, 'ford mustang ii'),
 (167, 29.0, 4, 97.0, '75', 2171, 16.0, 75, 3, 'toyota corolla'),
 (168, 23.0, 4, 140.0, '83', 2639, 17.0, 75, 1, 'ford pinto'),
 (169, 20.0, 6, 232.0, '100', 2914, 16.0, 75, 1, 'amc gremlin'),
 (170, 23.0, 4, 140.0, '78', 2592, 18.5, 75, 1, 'pontiac astro'),
 (171, 24.0, 4, 134.0, '96', 2702, 13.5, 75, 3, 'toyota corona'),
 (172, 25.0, 4, 90.0, '71', 2223, 16.5, 75, 2, 'volkswagen dasher'),
 (173, 24.0, 4, 119.0, '97', 2545, 17.0, 75, 3, 'datsun 710'),
 (174, 18.0, 6, 171.0, '97', 2984, 14.5, 75, 1, 'ford pinto'),
 (175, 29.0, 4, 90.0, '70', 1937, 14.0, 75, 2, 'volkswagen rabbit'),
 (176, 19.0, 6, 232.0, '90', 3211, 17.0, 75, 1, 'amc pacer'),
 (177, 23.0, 4, 115.0, '95', 2694, 15.0, 75, 2, 'audi 100ls'),
 (178, 23.0, 4, 120.0, '88', 2957, 17.0, 75, 2, 'peugeot 504'),
 (179, 22.0, 4, 121.0, '98', 2945, 14.5, 75, 2, 'volvo 244dl'),
 (180, 25.0, 4, 121.0, '115', 2671, 13.5, 75, 2, 'saab 99le'),
 (181, 33.0, 4, 91.0, '53', 1795, 17.5, 75, 3, 'honda civic cvcc'),
 (182, 28.0, 4, 107.0, '86', 2464, 15.5, 76, 2, 'fiat 131'),
 (183, 25.0, 4, 116.0, '81', 2220, 16.9, 76, 2, 'opel 1900'),
 (184, 25.0, 4, 140.0, '92', 2572, 14.9, 76, 1, 'capri ii'),
 (185, 26.0, 4, 98.0, '79', 2255, 17.7, 76, 1, 'dodge colt'),
 (186, 27.0, 4, 101.0, '83', 2202, 15.3, 76, 2, 'renault 12tl'),
 (187, 17.5, 8, 305.0, '140', 4215, 13.0, 76, 1, 'chevrolet chevelle malibu classic'),
 (188, 16.0, 8, 318.0, '150', 4190, 13.0, 76, 1, 'dodge coronet brougham'),
 (189, 15.5, 8, 304.0, '120', 3962, 13.9, 76, 1, 'amc matador'),
 (190, 14.5, 8, 351.0, '152', 4215, 12.8, 76, 1, 'ford gran torino'),
 (191, 22.0, 6, 225.0, '100', 3233, 15.4, 76, 1, 'plymouth valiant'),
 (192, 22.0, 6, 250.0, '105', 3353, 14.5, 76, 1, 'chevrolet nova'),
 (193, 24.0, 6, 200.0, '81', 3012, 17.6, 76, 1, 'ford maverick'),
 (194, 22.5, 6, 232.0, '90', 3085, 17.6, 76, 1, 'amc hornet'),
 (195, 29.0, 4, 85.0, '52', 2035, 22.2, 76, 1, 'chevrolet chevette'),
 (196, 24.5, 4, 98.0, '60', 2164, 22.1, 76, 1, 'chevrolet woody'),
 (197, 29.0, 4, 90.0, '70', 1937, 14.2, 76, 2, 'vw rabbit'),
 (198, 33.0, 4, 91.0, '53', 1795, 17.4, 76, 3, 'honda civic'),
 (199, 20.0, 6, 225.0, '100', 3651, 17.7, 76, 1, 'dodge aspen se'),
 (200, 18.0, 6, 250.0, '78', 3574, 21.0, 76, 1, 'ford granada ghia'),
 (201, 18.5, 6, 250.0, '110', 3645, 16.2, 76, 1, 'pontiac ventura sj'),
 (202, 17.5, 6, 258.0, '95', 3193, 17.8, 76, 1, 'amc pacer d/l'),
 (203, 29.5, 4, 97.0, '71', 1825, 12.2, 76, 2, 'volkswagen rabbit'),
 (204, 32.0, 4, 85.0, '70', 1990, 17.0, 76, 3, 'datsun b-210'),
 (205, 28.0, 4, 97.0, '75', 2155, 16.4, 76, 3, 'toyota corolla'),
 (206, 26.5, 4, 140.0, '72', 2565, 13.6, 76, 1, 'ford pinto'),
 (207, 20.0, 4, 130.0, '102', 3150, 15.7, 76, 2, 'volvo 245'),
 (208, 13.0, 8, 318.0, '150', 3940, 13.2, 76, 1, 'plymouth volare premier v8'),
 (209, 19.0, 4, 120.0, '88', 3270, 21.9, 76, 2, 'peugeot 504'),
 (210, 19.0, 6, 156.0, '108', 2930, 15.5, 76, 3, 'toyota mark ii'),
 (211, 16.5, 6, 168.0, '120', 3820, 16.7, 76, 2, 'mercedes-benz 280s'),
 (212, 16.5, 8, 350.0, '180', 4380, 12.1, 76, 1, 'cadillac seville'),
 (213, 13.0, 8, 350.0, '145', 4055, 12.0, 76, 1, 'chevy c10'),
 (214, 13.0, 8, 302.0, '130', 3870, 15.0, 76, 1, 'ford f108'),
 (215, 13.0, 8, 318.0, '150', 3755, 14.0, 76, 1, 'dodge d100'),
 (216, 31.5, 4, 98.0, '68', 2045, 18.5, 77, 3, 'honda accord cvcc'),
 (217, 30.0, 4, 111.0, '80', 2155, 14.8, 77, 1, 'buick opel isuzu deluxe'),
 (218, 36.0, 4, 79.0, '58', 1825, 18.6, 77, 2, 'renault 5 gtl'),
 (219, 25.5, 4, 122.0, '96', 2300, 15.5, 77, 1, 'plymouth arrow gs'),
 (220, 33.5, 4, 85.0, '70', 1945, 16.8, 77, 3, 'datsun f-10 hatchback'),
 (221, 17.5, 8, 305.0, '145', 3880, 12.5, 77, 1, 'chevrolet caprice classic'),
 (222, 17.0, 8, 260.0, '110', 4060, 19.0, 77, 1, 'oldsmobile cutlass supreme'),
 (223, 15.5, 8, 318.0, '145', 4140, 13.7, 77, 1, 'dodge monaco brougham'),
 (224, 15.0, 8, 302.0, '130', 4295, 14.9, 77, 1, 'mercury cougar brougham'),
 (225, 17.5, 6, 250.0, '110', 3520, 16.4, 77, 1, 'chevrolet concours'),
 (226, 20.5, 6, 231.0, '105', 3425, 16.9, 77, 1, 'buick skylark'),
 (227, 19.0, 6, 225.0, '100', 3630, 17.7, 77, 1, 'plymouth volare custom'),
 (228, 18.5, 6, 250.0, '98', 3525, 19.0, 77, 1, 'ford granada'),
 (229, 16.0, 8, 400.0, '180', 4220, 11.1, 77, 1, 'pontiac grand prix lj'),
 (230, 15.5, 8, 350.0, '170', 4165, 11.4, 77, 1, 'chevrolet monte carlo landau'),
 (231, 15.5, 8, 400.0, '190', 4325, 12.2, 77, 1, 'chrysler cordoba'),
 (232, 16.0, 8, 351.0, '149', 4335, 14.5, 77, 1, 'ford thunderbird'),
 (233, 29.0, 4, 97.0, '78', 1940, 14.5, 77, 2, 'volkswagen rabbit custom'),
 (234, 24.5, 4, 151.0, '88', 2740, 16.0, 77, 1, 'pontiac sunbird coupe'),
 (235, 26.0, 4, 97.0, '75', 2265, 18.2, 77, 3, 'toyota corolla liftback'),
 (236, 25.5, 4, 140.0, '89', 2755, 15.8, 77, 1, 'ford mustang ii 2+2'),
 (237, 30.5, 4, 98.0, '63', 2051, 17.0, 77, 1, 'chevrolet chevette'),
 (238, 33.5, 4, 98.0, '83', 2075, 15.9, 77, 1, 'dodge colt m/m'),
 (239, 30.0, 4, 97.0, '67', 1985, 16.4, 77, 3, 'subaru dl'),
 (240, 30.5, 4, 97.0, '78', 2190, 14.1, 77, 2, 'volkswagen dasher'),
 (241, 22.0, 6, 146.0, '97', 2815, 14.5, 77, 3, 'datsun 810'),
 (242, 21.5, 4, 121.0, '110', 2600, 12.8, 77, 2, 'bmw 320i'),
 (243, 21.5, 3, 80.0, '110', 2720, 13.5, 77, 3, 'mazda rx-4'),
 (244, 43.1, 4, 90.0, '48', 1985, 21.5, 78, 2, 'volkswagen rabbit custom diesel'),
 (245, 36.1, 4, 98.0, '66', 1800, 14.4, 78, 1, 'ford fiesta'),
 (246, 32.8, 4, 78.0, '52', 1985, 19.4, 78, 3, 'mazda glc deluxe'),
 (247, 39.4, 4, 85.0, '70', 2070, 18.6, 78, 3, 'datsun b210 gx'),
 (248, 36.1, 4, 91.0, '60', 1800, 16.4, 78, 3, 'honda civic cvcc'),
 (249, 19.9, 8, 260.0, '110', 3365, 15.5, 78, 1, 'oldsmobile cutlass salon brougham'),
 (250, 19.4, 8, 318.0, '140', 3735, 13.2, 78, 1, 'dodge diplomat'),
 (251, 20.2, 8, 302.0, '139', 3570, 12.8, 78, 1, 'mercury monarch ghia'),
 (252, 19.2, 6, 231.0, '105', 3535, 19.2, 78, 1, 'pontiac phoenix lj'),
 (253, 20.5, 6, 200.0, '95', 3155, 18.2, 78, 1, 'chevrolet malibu'),
 (254, 20.2, 6, 200.0, '85', 2965, 15.8, 78, 1, 'ford fairmont (auto)'),
 (255, 25.1, 4, 140.0, '88', 2720, 15.4, 78, 1, 'ford fairmont (man)'),
 (256, 20.5, 6, 225.0, '100', 3430, 17.2, 78, 1, 'plymouth volare'),
 (257, 19.4, 6, 232.0, '90', 3210, 17.2, 78, 1, 'amc concord'),
 (258, 20.6, 6, 231.0, '105', 3380, 15.8, 78, 1, 'buick century special'),
 (259, 20.8, 6, 200.0, '85', 3070, 16.7, 78, 1, 'mercury zephyr'),
 (260, 18.6, 6, 225.0, '110', 3620, 18.7, 78, 1, 'dodge aspen'),
 (261, 18.1, 6, 258.0, '120', 3410, 15.1, 78, 1, 'amc concord d/l'),
 (262, 19.2, 8, 305.0, '145', 3425, 13.2, 78, 1, 'chevrolet monte carlo landau'),
 (263, 17.7, 6, 231.0, '165', 3445, 13.4, 78, 1, 'buick regal sport coupe (turbo)'),
 (264, 18.1, 8, 302.0, '139', 3205, 11.2, 78, 1, 'ford futura'),
 (265, 17.5, 8, 318.0, '140', 4080, 13.7, 78, 1, 'dodge magnum xe'),
 (266, 30.0, 4, 98.0, '68', 2155, 16.5, 78, 1, 'chevrolet chevette'),
 (267, 27.5, 4, 134.0, '95', 2560, 14.2, 78, 3, 'toyota corona'),
 (268, 27.2, 4, 119.0, '97', 2300, 14.7, 78, 3, 'datsun 510'),
 (269, 30.9, 4, 105.0, '75', 2230, 14.5, 78, 1, 'dodge omni'),
 (270, 21.1, 4, 134.0, '95', 2515, 14.8, 78, 3, 'toyota celica gt liftback'),
 (271, 23.2, 4, 156.0, '105', 2745, 16.7, 78, 1, 'plymouth sapporo'),
 (272, 23.8, 4, 151.0, '85', 2855, 17.6, 78, 1, 'oldsmobile starfire sx'),
 (273, 23.9, 4, 119.0, '97', 2405, 14.9, 78, 3, 'datsun 200-sx'),
 (274, 20.3, 5, 131.0, '103', 2830, 15.9, 78, 2, 'audi 5000'),
 (275, 17.0, 6, 163.0, '125', 3140, 13.6, 78, 2, 'volvo 264gl'),
 (276, 21.6, 4, 121.0, '115', 2795, 15.7, 78, 2, 'saab 99gle'),
 (277, 16.2, 6, 163.0, '133', 3410, 15.8, 78, 2, 'peugeot 604sl'),
 (278, 31.5, 4, 89.0, '71', 1990, 14.9, 78, 2, 'volkswagen scirocco'),
 (279, 29.5, 4, 98.0, '68', 2135, 16.6, 78, 3, 'honda accord lx'),
 (280, 21.5, 6, 231.0, '115', 3245, 15.4, 79, 1, 'pontiac lemans v6'),
 (281, 19.8, 6, 200.0, '85', 2990, 18.2, 79, 1, 'mercury zephyr 6'),
 (282, 22.3, 4, 140.0, '88', 2890, 17.3, 79, 1, 'ford fairmont 4'),
 (283, 20.2, 6, 232.0, '90', 3265, 18.2, 79, 1, 'amc concord dl 6'),
 (284, 20.6, 6, 225.0, '110', 3360, 16.6, 79, 1, 'dodge aspen 6'),
 (285, 17.0, 8, 305.0, '130', 3840, 15.4, 79, 1, 'chevrolet caprice classic'),
 (286, 17.6, 8, 302.0, '129', 3725, 13.4, 79, 1, 'ford ltd landau'),
 (287, 16.5, 8, 351.0, '138', 3955, 13.2, 79, 1, 'mercury grand marquis'),
 (288, 18.2, 8, 318.0, '135', 3830, 15.2, 79, 1, 'dodge st. regis'),
 (289, 16.9, 8, 350.0, '155', 4360, 14.9, 79, 1, 'buick estate wagon (sw)'),

In [ ]:
# connect and query
with db.connect() as conn:
  # makes connection, allows queries, and closes
  results = conn.execute(text('SELECT AVG(mpg) FROM MPG GROUP BY origin'))

results.all()

2024-04-04 03:55:45,696 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-04 03:55:45,702 INFO sqlalchemy.engine.Engine SELECT AVG(mpg) FROM MPG GROUP BY origin

INFO:sqlalchemy.engine.Engine:SELECT AVG(mpg) FROM MPG GROUP BY origin

2024-04-04 03:55:45,706 INFO sqlalchemy.engine.Engine [generated in 0.01040s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01040s] ()

2024-04-04 03:55:45,711 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

[(20.071774193548382,), (27.891428571428573,), (30.450632911392397,)]

### Natural Language to SQL

* Llama-7B
* Llama-33B
* MISTRAL-7B
* Alpaca-7B
* Llama-2-CHAT-7B
* Llama-2-CHAT-13B
* Vicuna-7B
* Vicuna-33B
* BARD-LAMDA
* BARD-PALM2
* GPT-3.5-turbo
* GPT-4

* https://medium.com/dataherald/comparing-open-source-llms-for-nl-to-sql-53e6de42aee8

Quasi Code

<pre>
# sqlite SQL tables with properties

MPG (
	index BIGINT,
	mpg FLOAT,
	cylinders BIGINT,
	displacement FLOAT,
	horsepower TEXT,
	weight BIGINT,
	acceleration FLOAT,
	year BIGINT,
	origin BIGINT,
	name TEXT
)

# Start the Query
SELECT
</pre>

In [ ]:
# create helper functions
def create_table(df):
  prompt = '''### sqlite SQL table with fields:
  #
  # MPG({})
  #
  '''.format(','.join(str(col) for col in df.columns))

  return prompt

def prompt_input():
  nlsql = input('What would you like to know?: ')
  return nlsql

def query_database(df, query):
  table = create_table(df)
  query = f'### A query to answer: {query}\nSELECT'
  return table+query

In [ ]:
print(create_table(df))
print(prompt_input()) # get the average mpg for each origin

### sqlite SQL table with fields:
  #
  # MPG(mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name)
  #

Enter the info you want:get the average mpg for each origin
get the average mpg for each origin

In [ ]:
nltext = prompt_input()
query_database(df, nltext)

What would you like to know?: average mpg for each origin

'### sqlite SQL table with fields:\n  #\n  # MPG(mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name)\n  #  \n  ### A query to answer: average mpg for each origin\nSELECT'

### Completion, Chat, Assistant Models

#### Chat

* Designed for multi-turn conversations with multiple roles
* Maintains conversation context by processing the entire conversation history

#### Completion

* Model generates a response based on a single input prompt
* Text Completion
* Code Completion

#### Reinforcement Learning from Human Feedback (RLHF)

* A machine learning technique that uses human feedback to improve ML models
* RLHF is a key technology for aligning language models with human values and intentions

#### Assistants

* The Assistants API is more suitable for applications with high context, advanced customization, and designed to handle complex queries, despite limitations in the number and sizes of files. The Chat Completions API shines in simpler, scalable applications where each interaction can be managed independently but might fall short in applications requiring complex context management.

Readings

* https://openai.com/research  
* https://medium.com/leniolabs/exploring-openais-apis-assistants-vs-chat-completions-91525f73422c

### Completion Parameters

* Model
* Prompt
* Temperature (higher values will consider less probability returns)
* Max Tokens (token count of your prompt plus max_tokens cannot exceed the model's context length ~ 2048?)
* Top P (nucleus sampling uses the top probability rankings so 0.1 means top 10% probabilities mass, and is either/or with Temperature)
* N (how many completions to generate for each prompt, temperature can lend to different results)
* Frequency Penalty (helps to reduce redundancy)
* Presence Penalty (helps likelihood for new topics / creativity)
* https://platform.openai.com/playground?mode=complete

Readings

* https://platform.openai.com/docs/api-reference/introduction

### Example Client Request in Server Mode

Local Inference Server

<pre>
Server Port: 1234
CORS: OFF
Requesting Queuing: ON
Server Logging: ON
Automatic Prompt Formatting: ON

Start/Stop Server
</pre>

Example Client Request

<pre>
import os
import openai

openai.api_base = 'http://localhost:1234/v1
openai.api_key = '' # not needed

completion = openai.ChatCompletion.create(
  model = 'local-model', # currently unused
  messages = [
    {'role': 'system', 'content': 'Always answer in rhymes.'},
    {'role': 'user', 'content': 'Introduce yourself.'}
  ]
)

print(completion.choices[0].message)
</pre>

In [ ]:
import os
import openai

openai.api_base = 'http://localhost:1234/v1
openai.api_key = '' # not needed

response = openai.ChatCompletion.create(
  model = 'local-model',
  prompt = query_database(df, nltext),
  temperature = 0,
  max_tokens = 150,
  top_p = 1.0,
  frequency_penalty = 0,
  presence_penalty = 0,
  stop=['#', ';']
  messages = [
    {'role': 'system', 'content': 'Always answer in rhymes.'},
    {'role': 'user', 'content': 'Introduce yourself.'}
  ]
)

print(response.choices[0].text) # response['choices'][0]['text']

def handle_response(response):
  query = response['choices'][0]['text']
  if query.startswith(' '):
    query = 'SELECT'+query
  return query

handle_response(response)

In [ ]:
with db.connect() as conn:
  result = conn.execute(text(handle_response(response)))

result.all()